{% extends "layout.html" %}
    {% block title %}Biblioteca{% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/bview.css">
    {% endblock %}

    {% block content %}
        <div class="container my-5">
            <!-- Titolo e introduzione -->
            <div class="row mb-4">
                <div class="col-md-12 text-center"> <!-- Aggiunto text-center per centrare il titolo -->
                    <a href="{{ url_for('main.bprint', genere=genre) }}" class="download-title">
                        <h1 class="display-4 title-main">
                            Scopri i Libri del Genere:<br> <span class="genre-highlight">{{ genre }}</span> <!-- Spezzato in due righe -->
                        </h1>
                    </a>
                </div>
            </div>
            

            <!-- Introduzione -->
            <div class="row mb-4">
                <div class="col-md-12">
                    <p class="lead intro-text">
                        Esplora una selezione curata di libri che ti porteranno in nuove avventure, ti faranno riflettere e ti ispireranno. Ogni libro è una finestra su un mondo unico, pronto per essere scoperto!
                    </p>
                </div>
            </div>


            <!-- Sezione dei Libri -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for libro in books %}
                <div class="col mb-4">
                    <div class="card h-100 shadow libro-card" data-bs-toggle="modal" data-bs-target="#bookModal{{ loop.index }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ libro.titolo }}</h5>
                            <p class="card-text">Autore: {{ libro.autore }}</p>
                        </div>
                    </div>
                </div>
            
                <!-- Modal per i dettagli del libro -->
                <div class="modal fade" id="bookModal{{ loop.index }}" tabindex="-1" aria-labelledby="bookModalLabel{{ loop.index }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="bookModalLabel{{ loop.index }}">{{ libro.titolo }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Autore:</strong> {{ libro.autore }}</p>                                
                                <p><strong>Editore:</strong> {{ libro.editore }}</p>
                                <p><strong>Anno di Pubblicazione:</strong> {{ libro.anno }}</p>

                                <p>
                                    {% if libro.copie >= 2 %}
                                        <p class="loan-status available stats">
                                            Ci sono ancora <span class="copies">{{ libro.copie }}</span> copie di questo libro.<br>
                                            <strong>Prendilo in prestito!</strong>
                                        </p>
                                        <a type="button" class="btn btn-custom loan-button bstats" href="/loan/create">
                                            <i class="fas fa-book-open"></i> Nuovo prestito
                                        </a>
                                        
                                    {% elif libro.copie == 1 %}
                                        <p class="loan-status limited stats">
                                            È rimasta soltanto <span class="copies">una</span> copia di questo libro.<br>
                                            <strong>Prendilo in prestito, ora!</strong>
                                        </p>
                                        <a type="button" class="btn btn-custom loan-button bstats" href="/loan/create">
                                            <i class="fas fa-book-open"></i> Nuovo prestito
                                        </a>
                                        
                                    {% else %}
                                        <p class="loan-status unavailable stats">
                                            Attualmente non vi sono copie disponibili per il prestito.<br><br>
                                            Il libro ritornerà disponibile il: <strong>{{ends[libro.id]}}</strong>
                                        </p>
                                    {% endif %}
                                </p>
                                

                                <p class="related"><strong>Scopri i libri correlati!</strong></p>
                                <a href="{{ url_for('main.brelated', id=libro.id) }}" class="brelated"><i class="fa fa-solid fa-paperclip"></i> Mostrali tutti</a>
                    
                                <p class="stats"><strong>Scopri le statistiche  su questo libro!</strong></p>
                                <a href="{{ url_for('main.bstats', id=libro.id) }}" class="bstats"><i class="fa fa-solid fa-bolt"></i> Scopri di più</a>
                    
                                <p class="scheda"><strong>Scarica la scheda del libro!</strong></p>
                                <a href="{{ url_for('main.bdownload', id=libro.id) }}" class="dscheda"><i class="fa fa-solid fa-download"></i> Scarica ora</a>
                    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    {% endblock %}
