{% extends "layout.html" %}
    {% block title %}Informazioni{% endblock %}
    {% block css %}
        <link rel="stylesheet" href="/static/css/doc.css">
    {% endblock %}

    {% block content %}

        <div class="container my-5 py-5">

            <header class="my-4 animated fadeIn">
                <img src="/static/images/logo.jpg" class="img-fluid rounded shadow" alt="Logo APS FErrara" loading="lazy">
            </header> 
            
            <!-- Intestazione della Pagina -->
            <div class="row mb-5">
                <div class="col">
                    <h1 class="display-4 title">Informazioni Utili</h1>
                    <p class="lead intro-text">Esplora tutte le informazioni relative ai nostri servizi e scopri un mondo di lettura!</p>
                </div>
            </div>

            <!-- Sezione delle Carte Informative -->
            <div class="row grid-section justify-content-center">
                <div class="col-md-4 mb-4">
                    <div class="card card-custom hover-effect" data-toggle="modal" data-target="#searchModal">
                        <div class="card-body text-center">
                            <div class="icon-container">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                            <h5 class="card-title">Come Cercare un Libro</h5>
                            <p class="card-text">Scopri i modi per cercare i tuoi libri preferiti.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card card-custom hover-effect" data-toggle="modal" data-target="#borrowModal">
                        <div class="card-body text-center">
                            <div class="icon-container">
                                <i class="fa fa-book fa-2x"></i>
                            </div>
                            <h5 class="card-title">Come Prendere in Prestito un Libro</h5>
                            <p class="card-text">Segui i passaggi per prendere in prestito un libro.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card card-custom hover-effect" data-toggle="modal" data-target="#loanModal">
                        <div class="card-body text-center">
                            <div class="icon-container">
                                <i class="fa fa-book-open fa-2x"></i>
                            </div>
                            <h5 class="card-title">Regolamento dei Prestiti</h5>
                            <p class="card-text">Leggi il regolamento per i prestiti di libri.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card card-custom hover-effect" data-toggle="modal" data-target="#courseModal">
                        <div class="card-body text-center">
                            <div class="icon-container">
                                <i class="fa fa-calendar-alt fa-2x"></i>
                            </div>
                            <h5 class="card-title">Come Prenotarti a un Corso</h5>
                            <p class="card-text">Prenota un corso seguendo i nostri semplici passaggi.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sezione Contatti -->
            <div class="row text-center mt-5 contact-section">
                <div class="col">
                    <h2 class="display-6 contact-title">Contattaci</h2>
                    <p>Hai domande o feedback? <a href="https://forms.gle/CxCMDByTULSW4Nsn8" target="_blank">Contattaci qui</a>.</p>
                </div>
            </div>
        </div>

        <!-- Modali Informativi -->
        <!-- Modal Come Cercare un Libro -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel"><i class="fa fa-search"></i> Come Cercare un Libro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>I libri possono essere cercati in vari modi: scorri i generi, seleziona quello che preferisci o usa il campo di ricerca per trovare il tuo autore o genere preferito!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Come Prendere in Prestito un Libro -->
        <div class="modal fade" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="borrowModalLabel"><i class="fa fa-book"></i> Come Prendere in Prestito un Libro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Per prendere in prestito un libro: controlla la disponibilità, clicca su "prendi in prestito", inserisci il titolo e scegli la data di ritiro.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Regolamento dei Prestiti -->
        <div class="modal fade" id="loanModal" tabindex="-1" role="dialog" aria-labelledby="loanModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loanModalLabel"><i class="fa fa-book-open"></i> Regolamento dei Prestiti</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Restituisci il materiale entro 30 giorni, con proroga di 2 settimane se non richiesto da altri. Le riviste possono essere prese in prestito per 15 giorni non prorogabili.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Come Prenotarti a un Corso -->
        <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="courseModalLabel"><i class="fa fa-calendar-alt"></i> Come Prenotarti a un Corso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Accedi alla sezione "corsi", verifica la disponibilità e prenota con il link "prenotati ora". Ricordati di pagare la quota di iscrizione per confermare la tua prenotazione.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
