{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc.css') }}">
{% endblock %}
{% block title %}Useful information{% endblock %}

{% block content %}
    <div class="info-container my-5">

        <div class="header-section mb-5">
            <h1 class="main-title">Useful information</h1>
            <p class="description-text">Here you can find all the information about our site and the services we offer.</p>
        </div>

        <div class="info-section mb-4">
            <h2 class="section-title">How can you search for a book</h2>
            <p id="searchInfo" class="info-text d-none">
                You can search for books in different ways: You can scroll through the various genres, choose one, and search through all those in that genre.<br>
                If you have an author or genre in mind, you can use the search field provided to search for either all those written by your favorite author or that belong to your favorite genre
            </p>
            <button onclick="toggleVisibility('searchInfo')" class="btn-custom">Show more</button>
        </div>

        <div class="info-section mb-4">
            <h2 class="section-title">How can you borrow a book</h2>
            <p id="borrowInfo" class="info-text d-none">
                To borrow a book, follow these steps: Check that the book you have in mind is actually available, that is, that there is at least one copy available.<br> 
                If so, you will find the “borrow” link. All you have to do is type in the title of it, choose the date on which you will pick it up, and confirm.
            </p>
            <button onclick="toggleVisibility('borrowInfo')" class="btn-custom">Show more</button>
        </div>

        <div class="info-section mb-4">
            <h2 class="section-title">Settlement of loans</h2>
            <p id="loanInfo" class="info-text d-none">
                To make a loan, each user must be registered as an ANSEC member. The material shall not be taken outside the room without proper signposting. 
                The user must present to the operator the chosen material and the card to receive the loan coupon.<br>
                The material must be delivered within 30 days, unless a regular request for an extension of 2 weeks has been made, if it has not already been requested by another user. 
                An email or SMS will be sent to remind you of the loan’s expiration date. Magazines can be borrowed for 15 days without extension.<br> 
                It is forbidden to take outside the material for consultation only. 
                In case of non-repayment, compensation equal to the value of the material and eventual cancellation of the card will be requested.
            </p>
            <button onclick="toggleVisibility('loanInfo')" class="btn-custom">Show more</button>
        </div>

        <div class="info-section mb-4">
            <h2 class="section-title">How to book a course</h2>
            <p id="courseInfo" class="info-text d-none">
                To book, follow these steps: Go to the "courses" section and check the available places for that course.<br>
                Once you enter the "more information" page of that course, use the "book now" link. Enter the name of the course you are interested in and confirm. 
                You have officially booked, all you have to do is pay the registration fee to sign up permanently.
            </p>
            <button onclick="toggleVisibility('courseInfo')" class="btn-custom">Show more</button>
        </div>

        <div class="contact-section mb-5">
            <h2 class="section-title">Contact us</h2>
            <p class="info-text">For any questions or feedback, please feel free to <a href="https://forms.gle/CxCMDByTULSW4Nsn8" target="_blank" class="contact-link">contact</a> us.</p>
        </div>

    </div>

    <!-- Script for Toggle Information -->
    <script>
        function toggleVisibility(id) {
            var element = document.getElementById(id);
            element.classList.toggle('d-none');
        }

        $(document).ready(function(){
            $(".info-text").hover(function(){
                $(this).css("font-size", "18px");
            }, function(){
                $(this).css("font-size", "16px");
            });
        });
    </script>
{% endblock %}
