{% extends "layout.html" %}
    {% block title %}Gruppo di Lettura{% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/group.css">
    {% endblock %}

    {% block content %}
        <div class="flyer-container py-5">
            <!-- Header del Volantino -->
            <div class="flyer-header text-center p-5">
                <h1 class="display-4 text-uppercase">Partecipa al Nostro Gruppo di Lettura!</h1>
                <p class="lead">Unisciti a noi per esplorare, discutere e scoprire nuovi mondi attraverso la lettura.</p>
            </div>
        
            <!-- Box: Libro del Mese -->
            <div class="row flyer-section text-center my-4">
                <div class="col-md-6 mx-auto flyer-box p-4 shadow">
                    <h2>📖 Libro del Mese</h2>
                    <p>Per questo mese leggiamo <strong>{{ month.titolo }}</strong>. 
                    </p>
                </div>
            </div>
        
            <!-- Box: Luogo di Incontro -->
            <div class="row flyer-section text-center my-4">
                <div class="col-md-6 mx-auto flyer-box p-4 shadow">
                    <h2>📍 Dove Trovarci</h2>
                    <p>Corso Isonzo, 42 - Ferrara 
                        <a href="https://www.google.com/maps" target="_blank" class="map-link">
                            <i class="fa fa-map-marker"></i>
                        </a>
                    </p>
                </div>
            </div>
        
            <!-- Box: Contatti -->
            <div class="row flyer-section text-center my-4">
                <div class="col-md-6 mx-auto flyer-box p-4 shadow">
                    <h2>📧 Contattaci</h2>
                    <p>Vuoi unirti a noi? Scrivi a <strong>centrocorsoisonzo@gmail.com</strong> per maggiori informazioni.</p>
                </div>
            </div>
        </div>   
    
    {% endblock %}
