{% extends "layout.html" %}
    {% block title %}Biblioteca{% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/lbhistory.css">
    {% endblock %}

    {% block content %}
        <div class="container mt-5">
            <div class="row text-center mb-4">
                <div class="col-md-12">
                    <h1 class="display-4">Cronologia Prestiti per il libro "{{ book.titolo }}"</h1>
                </div>
            </div>

            {% if loans %}
                <section class="books-grid">
                    {% for loan in loans %}
                    <div class="book-item">
                        <h4 class="loan-title">Prestito #{{ loan.id }}</h4>
                        <div class="loan-details">
                            <p><strong><i class="fa fa-regular fa-clock"></i> Data Prestito:</strong> {{ loan.uscita.strftime('%d %B %Y') }}</p>
                            <p><strong><i class="fa fa-regular fa-clock"></i> Data Restituzione:</strong> {{ loan.rientro.strftime('%d %B %Y') }}</p>
                            <p><strong><i class="fa fa-solid fa-bookmark"></i> Libro:</strong> {{ loan.libro.titolo }}</p>
                            <p><strong><i class="fa fa-user"></i> Utente:</strong> <a href="{{ url_for('main.uprofile', id=loan.utente_id) }}">{{ loan.utente.nome }}</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            {% else %}
                <div class="alert alert-warning mt-5 text-center">
                    Nessuna cronologia di prestiti disponibile.
                </div>
            {% endif %}
        </div>
    {% endblock %}
