{% extends "layout.html" %}
    {% block title %}Biblioteca{% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/lexpiring.css">
    {% endblock %}

    {% block content %}
        <div class="container my-5">
            <h1 class="display-4 text-center mb-4">Loans due to maturity</h1>

            {% if loans %}
                <div class="grid-container">
                    {% for loan in loans %}
                    <div class="loan-card">
                        <div class="loan-image-container">
                            {% if loan.id % 2 == 0 %}
                                <img src="/static/images/prestito1.jpg" alt="Loan Image" class="loan-image">
                            {% else %}
                                <img src="/static/images/prestito2.jpg" alt="Loan Image" class="loan-image">
                            {% endif %}
                        </div>
                        <div class="loan-details">
                            <h5>{{ loan.libro.titolo }}</h5>
                            <p><strong><i class="fa fa-solid fa-hashtag"></i> Utente:</strong> {{ loan.utente.nome }}</p>
                            <p><strong><i class="fa fa-solid fa-hashtag"></i> Data di Scadenza:</strong> {{ loan.rientro.strftime('%d/%m/%Y') }}</p>
                            <p><strong><i class="fa fa-solid fa-hashtag"></i> Data di Prestito:</strong> {{ loan.uscita.strftime('%d/%m/%Y') }}</p>
                            <p><strong><i class="fa fa-solid fa-hashtag"></i> Stato:</strong> {% if loan.terminato == "No" %}Attivo{% else %}Concluso{% endif %}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info mt-5 text-center" role="alert">
                    <p class="lead">Nessun prestito in scadenza nei prossimi giorni.</p>
                </div>
            {% endif %}
        </div>
    {% endblock %}
