{% extends "layout.html" %}
    {% block title %}Biblioteca{% endblock %}
    {% block css %}
        <link rel="stylesheet" href="/static/css/lshistory.css">
    {% endblock %}

    {% block content %}
        <div class="container mt-5">
            <div class="header mb-5">
                <h1 class="title">Seleziona la Cronologia Prestiti</h1>
            </div>

            <div class="form-container">
                <form action="/loan/history" method="POST" class="custom-form">
                    <div class="form-group">
                        <label for="id" class="form-label">Inserisci ID</label>
                        <input type="text" class="form-input" id="id" name="id" placeholder="ID del libro o dell'utente" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Seleziona il tipo:</label>
                        <div class="radio-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="history_type" id="book" value="book" required>
                                <label class="form-check-label" for="book">Libro</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="history_type" id="user" value="user">
                                <label class="form-check-label" for="user">Utente</label>
                            </div>
                        </div>
                    </div>
                
                    <div class="">
                        <button type="submit" class="btn btn-primary">Visualizza Cronologia</button>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
