{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
{% endblock %}
{% block title %}Ripristina Password{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<div class="reset-password-container">
    <div class="reset-password-header">Ripristina la Password</div>
    <form method="post" action="/password">
        <div class="mb-3">
            <label for="vecchia" class="form-label">Password attuale</label>
            <input id="vecchia" type="password" class="form-control" name="vecchia" required>
        </div>
        <div class="mb-3">
            <label for="nuova" class="form-label">Password Nuova</label>
            <input id="nuova" type="password" class="form-control" name="nuova" required>
        </div>
        <div class="mb-0">
            <input type="submit" class="btn" value="Cambia">
        </div>
    </form>
</div>
{% endblock %}
