{% extends "layout.html" %}
    {% block title %}Reset Password{% endblock %}
    {% block css %}
        <link rel="stylesheet" href="/static/css/register.css">
    {% endblock %}

    {% block content %}
        <div class="register-wrapper d-flex align-items-center justify-content-center vh-100">
            <div class="register-card shadow-lg p-4">
                <div class="register-header mb-4">
                    <h2>Modifica la Password del Tuo Account</h2>
                    <p class="text-muted">Benvenuto! Inserisci le credenziali per completare l'operazione.</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="/password">
                        <div class="form-group mb-3">
                            <label for="vecchia" class="form-label">Password Attuale</label>
                            <input id="vecchia" type="password" class="form-control" name="vecchia" placeholder="Inserisci la tua password attuale" required>
                        </div>

                        <div class="form-group mb-4">
                            <label for="nuova" class="form-label">Password Nuova</label>
                            <input id="nuova" type="password" class="form-control" name="nuova" placeholder="Inserisci la tua password nuova" required>
                        </div>

                        <div class="d-grid mb-3">
                            <input type="submit" class="btn btn-primary btn-block" value="Conferma">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    {% endblock %}
