{% extends "layout.html" %}
    {% block title %}Profilo Utente{% endblock %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/uprofile.css">
    {% endblock %}

    {% block content %}
        <div class="container mt-5">

            <!-- Header Section -->
            <div class="row text-center mb-4">
                <div class="col-md-12">
                    <h1 class="display-4">Profilo di {{ user.nome }}</h1>
                </div>
            </div>

            <!-- Profile Card -->
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="profile-picture">
                        {% if user.genere == "M" %}
                            <img src="/static/images/user1.jpg" alt="Foto di {{ user.nome }}" class="img-fluid rounded-circle">
                        {% elif user.genere == "F" %}
                            <img src="/static/images/user2.jpg" alt="Foto di {{ user.nome }}" class="img-fluid rounded-circle">
                        {% else %}
                            <img src="/static/images/fluido.jpg" alt="Foto di {{ user.nome }}" class="img-fluid rounded-circle">
                        {% endif %}
                    </div>

                    <h5 class="card-title">Dettagli Account</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Nome:</strong> {{ user.nome }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }} 
                            <a href="/email" class="btn btn-outline-dark">Cambia email</a>
                        </li>
                        <li class="list-group-item"><strong>Telefono:</strong> {{ user.telefono }} 
                            <a href="/phone" class="btn btn-outline-dark">Cambia telefono</a>
                        </li>
                        <li class="list-group-item"><strong>Ruolo:</strong> {{ user.ruolo }}</li>
                        <li class="list-group-item"><a href="/password" class="btn btn-outline-dark">Cambia password</a></li>
                    </ul>
                </div>
            </div>

            
            <br><hr><br>

            <div class="row text-center mb-4 animated-fade">
                <div class="col-md-12">
                    <a href="/loan/print" class="aprestiti"><h5 class="display-6 title-prestiti">Prestiti</h5></a>
                </div>
            </div>

            {% if mloan %}
                <div class="alert alert-info alert-info-custom alert-custom animated-fade" role="alert">
                    <p>{{ mloan|safe }}</p>
                    <a href="/book" class="btn btn-info-custom">Scopri di più sui prestiti</a>
                </div>
            {% endif %}
            
            {% if loans %}
                <div class="list-group">
                    {% for loan in loans %}
                        <div class="list-group-item prestito-item animated-fade">
                            <h5 class="mb-1">Libro: {{ loan.libro.titolo }}</h5>
                            <p class="mb-1">Scadenza: {{ loan.rientro.strftime('%d %B %Y') }}<br>
                                Prorogato: {{ loan.prorogato }}
                            </p>
                            {% if loan.prorogato == "No" %}
                                <a href="{{ url_for('main.lextend', id=loan.id) }}" class="btn btn-extend"><i class="fas fa-edit"></i> Estendi</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            
            <br><hr><br>

            <div class="row text-center mb-4 animated-fade">
                <div class="col-md-12">
                    <a href="/booking/print" class="aprestiti"><h5 class="display-6 title-prestiti">Prenotazioni</h5></a>
                </div>
            </div>

            {% if mbook %}
                <div class="alert alert-info alert-info-custom alert-custom animated-fade" role="alert">
                    <p>{{ mbook|safe }}</p>
                    <a  href="/course" class="btn btn-info-custom">Prenota ora</a>
                </div>
            {% endif %}

            {% if bookings %}
                <div class="list-group">
                    {% for booking in bookings %}
                        <div class="list-group-item prenotazione-item animated-fade">
                            <h5 class="mb-1">{{ booking.corso.nome }}</h5>
                            <p class="mb-1">Stato: {{ booking.state }}<br>
                                Effettuata il: {{ booking.bdate.strftime('%d %B %Y') }}

                            </p>

                            {% if booking.state == "Pending" %}    
                                Richiedi le informazioni di pagamento, per non perdere il posto.<br>
                                <a href="#" class="btn btn-banca" target="_blank"><i class="fa fa-solid fa-euro-sign"></i> Richiedi Coordinate Bancarie</a>
                            {% elif booking.state == "Rejected" %}
                                La tua prenotazione è stata rifiutata. Ci dispiace per l'inconveniente. Se hai bisogno di chiarimenti o vuoi riprovare a prenotare, ti invitiamo a contattarci.
                                <br><br>
                                <a href="/course" class="btn btn-reset">Torna alla pagina delle prenotazioni</a>
                            {% else %}
                                Ti aspettiamo per iniziare questa esperienza formativa. Se hai bisogno di ulteriori informazioni, non esitare a contattarci.
                                Ricorda, il corso inizia il {{booking.corso.inizio.strftime('%d/%m/%Y')}}, e continua i {{booking.corso.giorno}}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endblock %}