<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Andrea Gabrieli jr.">
        <meta name="description" content="Web application for Centro Acquedotto of Ferrara">
        <meta name="robots" content="index, follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:title" content="APS Ferrara">
        <meta property="og:description" content="Web application for Centro Acquedotto of Ferrara">
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="APS Ferrara">
        <meta name="twitter:title" content="APS Ferrara">
        <meta name="twitter:description" content="Web application for Centro Acquedotto of Ferrara">

        <!-- Font and icon libraries -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">    
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/welcome.css">

        <title>APS Ferrara</title>
        <link rel="icon" type="image/png" href="/static/images/logo.png">
    </head>
    <body class="bg-light text-center">

        <!-- Navbar with Offcanvas for mobile -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <section class="container">
                <a class="navbar-brand" href="#">
                    <img src="/static/images/logo.png" alt="Logo" width="40" height="40" loading="lazy">
                    ANCeSCAO
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ANCeSCAO</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/home"><i class="fa fa-home"></i> Home</a>
                                </li>    
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/book"><i class="fa fa-solid fa-book"></i> Libri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/course"><i class="fa fa-solid fa-graduation-cap"></i> Corsi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/doc"><i class="fa fa-solid fa-pen-clip"></i> Contatti</a>
                            </li>
                            {% if not current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/register"><i class="fa fa-solid fa-user-plus"></i> Registrati</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login"><i class="fa fa-solid fa-right-to-bracket"></i> Accedi</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </section>
        </nav>

        <!-- Main content -->
        <section class="container">
            <header class="my-4 animated fadeIn">
                <img src="/static/images/logo.jpg" class="img-fluid rounded shadow" alt="Logo APS FErrara" loading="lazy">
            </header>

            <!-- New content under the image -->
            <section class="row mt-5 text-start">
                <div class="col-12 col-md-10 offset-md-1 animated fadeIn">
                    <h2 class="display-5 text-dark">Benvenuti nell'app del Centro Acquedotto ANCeSCAO</h2>
                    <p class="lead text-muted mt-3">
                        Esplora le nostre risorse con semplicità! Troverai informazioni sui corsi, il nostro catalogo di libri e molto altro. Sei pronto a scoprire tutto?
                    </p>
                </div>
            </section>

            <!-- Sezione "Come Raggiungerci" -->
            <section class="container my-5">
                <h2 class="text-center text-dark mb-4"><i class="fa fa-solid fa-question"></i> Come Raggiungerci</h2>
                <div class="row">

                    <!-- Card Bus -->
                    <section class="col-lg-4 col-md-6 mb-4">
                        <div class="card shadow border-light">
                            <img src="/static/images/bus.jpg" class="external-card" alt="Raggiungerci in bus" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-solid fa-bus"></i> In Bus</h5>
                                <p class="card-text">
                                    Con la linea urbana 1, 6, 9 scendere a "Cavour Isonzo". Al semaforo proseguire per Corso Isonzo per 400 mentri. Superata la rotatoria, ci puoi trovare alla tua destra.
                                </p>
                            </div>
                        </div>
                    </section>

                    <!-- Card Auto -->
                    <section class="col-lg-4 col-md-6 mb-4">
                        <div class="card shadow border-light">
                            <img src="/static/images/auto.jpg" class="card-img-top" alt="Raggiungerci in auto" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-solid fa-car"></i> In Auto</h5>
                                <p class="card-text">
                                    Uscito a "Ferrara Sud" dell'A13, procedi per la SS723 verso il Centro. Arrivato su Via Darsena, procedi fino alla rotonsa con Corso Isonzo e procedi per 200 metri. Ci troverai alla tua sinistra.
                                </p>
                            </div>
                        </div>
                    </section>

                    <!-- Card Treno -->
                    <section class="col-lg-4 col-md-6 mb-4">
                        <div class="card shadow border-light">
                            <img src="/static/images/treno.jpg" class="external-card" alt="Raggiungerci in treno" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-solid fa-train-subway"></i> In Treno</h5>
                                <p class="card-text">
                                    Sceso alla stazione di Ferrara, prendi la linea urbana 1, 6, 9 e scendi a "Cavour Isonzo". Al semaforo prosegui per Corso Isonzo per 400 mentri. Superata la rotatoria, ci puoi trovare alla tua destra.
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </section>

            <!-- Footer -->
            <footer class="mt-5 pt-4 border-top animated fadeIn">
                <p>© 2024 Centro Acquedotto APS ANCeSCAO</p>
                <section class="social-media">
                    <a href="https://www.facebook.com/centro.acquedotto/?locale=it_IT" target="_blank" class="social-icon me-3"><i class="fab fa-facebook"></i></a>
                    <a href="https://x.com/CAcquedotto" target="_blank" class="social-icon me-3"><i class="fab fa-twitter"></i></a>
                    <a href="https://it.linkedin.com/in/cpsacquedottofe" target="_blank" class="social-icon me-3"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/cps.acquedotto/" target="_blank" class="social-icon me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@centroacquedottocorsoisonz1405" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
                </section>
            </footer>
        </section>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
        <script>
            function topFunction() {
                document.body.scrollTop = 0; // Per Safari
                document.documentElement.scrollTop = 0; // Per Chrome, Firefox, IE e Opera
            }
        </script>
    </body>
</html>
